@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #DFDFDF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0 5rem 0;
  background-color: #FFF;
  border-radius: 8px;
}

img {
  display: block;
  width: 100%;
}

.steg-caption {
  color: #FFF;
  font-family: serif;
  font-size: 15px;
  margin-top: -3.5rem;
  padding: 0px 150px 10px 10px;
}

.steg-header {
  font-size: 20px;
  padding-left: 10px;
}

.steg-info {
  padding-left: 10px;
}

.info-header {
  color: #ACACAC;
  float: left;
  border-right: 1px;
  font-variant: small-caps;
  font-size: 18px;
}

.info-para {
  color: #000;
  padding-right: 2rem;
  font-size: 15px;
  font-variant: normal;
}






