@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #DFDFDF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0 5rem 0;
  background-color: #FFF;
  border-radius: 8px;
}

.steg-img {
  display: block;
  width: 100%;
  padding-bottom: 1rem;
}

.steg-caption {
  color: #FFF;
  font-family: serif;
  font-size: 15px;
  margin-top: -4rem;
  padding: 0px 0px 10px 10px;
}

.steg-header {
  font-size: 20px;
  padding: 3px 0 0 10px;
}

.steg-info {
  padding-left: 4px;
  list-style-type: none;
}

.info-header {
  color: #ACACAC;
  float: left;
  padding: 0 8px 0 10px;
  border-left: solid 1px #CCCCCC;
  font-variant: small-caps;
  font-size: 18px;
}

.info-header:first-child {
border-left: none;
}


.info-para {
  color: #000;
  padding-right: 2.5rem;
  font-size: 15px;
  font-variant: normal;
}






